
.grid{ 
    display: grid;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  @media screen and (min-width:621px) {
    .grid{
      grid-template-columns: repeat(4,140px);
    }
  }
  @media screen and (max-width:620px) {
    .grid{
      grid-template-columns: repeat(auto-fit,140px) ;
    }
  }
  